#toc {
  text-align: left;
}

h1.title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-bottom: 0;
}

h2.author {
  font-size: 18px;
  font-weight: bold;
  color: darkgrey;
  text-align: center;
  margin-bottom: 30px;
}

body {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

h1 {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: left;
  margin-top: 10px;
}

h2 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: black;
  text-align: left;
}

h3 {
  font-size: 12px;
  font-style: italic;
  color: black;
  text-align: left;
}  

ul, ol {
  padding-left: 0;
  margin-left: 0;
}

ul li, ol li {
  text-align: left;
}

ul li ul, ol li ol {
  padding-left: 5px;
}

ul li ul li, ol li ol li {
  padding-left: 10px;
}